<nav class="navbar navbar-expand-lg navbar-dark pt-0">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav margin">
        <li class="nav-item active">
          <a class="nav-link" href="#">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Olvidaste tu Contraseña</a>
        </li>
      </ul>
    </div>
  </nav>


<div class="container text-light text-left my-5">
    <h1 class="display-4 ">Registrate y obtén <br> un audiolibro gratis</h1>
    <h5 class="">Escuchar tus audiolibros <br> favoritos, es mas facil <br> que nunca</h5>
    <p>1 titulo de nuestra seleccion premium <br> que puedes mantener incluyendo <br> bestsellers y nuevos lanzamientos</p>
</div>



