.image{
background-image: url('../assets/images/audible.jpg');
background-repeat: no-repeat;
background-position: right;
background-size: cover;
background-color: rgba(0,0,0,0.7);
background-blend-mode: soft-light;
}

